.corpo{
    background:rgb(103, 93, 167);
}
.cabecalho{
    background-color: rgb(103, 93, 167);
}
.listarias{
    background: cornflowerblue;
    display: inline-block;
}
.hexavem{
    width: 800px;
    height: 500px;
}